<html ng-app="parlatorApp" ng-csp>
<head>
    <title>Parlator de Interlingua</title>
    <script src="script/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <script src="script/parlator.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/sticky-footer.css">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-77423862-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body  ng-controller="parlatorController" ng-init="initVoices()">
    <div id="wrap">
    <div class="container" id="main">
        <h1>Parlator de textos in interlingua <small>(Interlingua text&#8209;to&#8209;speech)</small></h1>
            <form>
                <div class="form-group" ng-if="myError">
                    <div class="alert alert-warning">
                        <strong>Attention!</strong> {{errorMessage}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="text">Texto</label>
                    <textarea id="text" ng-enter="talk()" rows="6" class="form-control" ng-keydown="hideError()" ng-model="text" required autofocus placeholder="Per favor, scribe hic un parola o qualque phrases in interlingua"></textarea>
                </div>
                <div class="form-group">
                    <label for="voiceSelect">Voce</label>
                    <select name="voice" id="voiceSelect" class="form-control" ng-options="voice as voice.name for voice in voices  track by voice.name" ng-model="selectedVoice"></select>
                    <!-- group by voice.language -->
                </div>
                <input class="btn btn-default" name="talk" type="submit" value="Parla!" ng-click="talk()">
            </form>
        </div>
    </div>
    <div id="footer">
        <div id="innerfooter">
            <p class="text-muted">Esque alicun parola es parlate incorrectemente? Ha iste sito alicun defecto? Vole vos commentar o dar suggestiones? Per favor, invia un e-posta a <b><a href="mailto:parlator.interlingua@gmail.com">parlator.interlingua@gmail.com</a></b>.</p>
        </div>
    </div>
</body>

</html>