<!DOCTYPE html>
<html ng-app="parlatorApp" ng-csp lang="ia">
<head>
    <title>Parlator de Interlingua</title>
    <script src="script/lame.min.js"></script>
    <script src="script/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <script src="script/parlator.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/sticky-footer.css">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-77423862-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body  ng-controller="parlatorController" ng-init="initVoices(); initMediaTypes();">
        <div id="wrap">
            <div class="container" id="main" style=" margin-top: 8px">
            <nav class="navbar navbar-default" style="height: 64px;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            <div>
                                <span><img src="images/favicon.png" style="margin-right: 8px; margin-top: -8px; margin-left: -8px; vertical-align: -75%;" /></span><span style="font-size: x-large;"><strong>Parlator&nbsp;de&nbsp;Interlingua</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <form>
                <div class="form-group" ng-if="myError">
                    <div class="alert alert-warning">
                        <strong>Error!</strong> {{errorMessage}} {{errorDetail}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="text">Texto</label>
                    <textarea elastic id="text" rows="1" style="height: 1em" ng-enter="talk()" class="form-control" ng-change="clear()" ng-model="text" required autofocus placeholder="Scribe hic in interlingua."></textarea>
                </div>
                <div class="form-group">
                    <label for="voiceSelect">Voce</label>
                    <select name="voice" id="voiceSelect" class="form-control" ng-options="voice as voice.description for voice in voices  track by voice.name" ng-model="selectedVoice" ng-change="clear()"></select>
                    <!-- group by voice.language -->
                </div>
                <div class="form-group">
                    <input class="btn btn-default" name="talk" type="submit" value="Parla!" ng-click="talk()">
                </div>
                <div ng-if="isTalk">
                    <label for="downloadButtons">Discarga le audio</label>  <br />
                    <div class="btn-group" ng-repat role="group" id="downloadButtons" name="downloadButtons" aria-label="Discarga le audio" ng-repeat="(extension, option) in downloadOptions">
                        <a ng-href="{{option.url}}" download="{{option.filename}}" class="btn btn-default">{{extension}}</a>
                    </div>
                    <p> </p>
                </div>
            </form>
        </div>
    </div>
    <div id="footer">
        <div id="innerfooter">
            <!--<p class="text-muted">Defectos, commentos e/o suggestiones: <b><a href="mailto:parlator.interlingua@gmail.com">parlator.interlingua@gmail.com</a></b>.</p>-->
            <p class="text-muted">Software create per Rodrigo Mallmann Guerra.</p>
            <!--<p class="text-muted">Pro le generation del audio, vostre datos es inviate a IBM, que pote usar los conforme a <a href="http://www-03.ibm.com/software/sla/sladb.nsf/pdf/6947-03/$file/i126-6947-03_06-2016_en_US.pdf">IBM TTS Description</a>.</p>-->
        </div>
    </div>
</body>
</html>