




html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
    padding-bottom: 105px;}  /* must be same height as the footer */

#footer {position: relative;
    margin-top: -105px; /* negative value of footer height */
    height: 105px;
    clear:both;
    text-align: center;
    padding-top: 3px;

}

#innerfooter {
    position: absolute; bottom: 0; padding-top: 5px; background-color: #f7f7f7; width: 100%;
}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}



